<html lang="ja-jp">
<head>
<meta charset="UTF-8">
<title>data view</title>
<script src="/static/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="/static/datatables.min.css"/> 
<script src="/static/datatables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>

<script>
jQuery(function($){
  $.extend( $.fn.dataTable.defaults, { 
    language: {
      url: "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Japanese.json"
    } 
  }); 
  $("#data-table").DataTable({
    order: [ [ 0, "desc" ] ],
    displayLength: 1000,
    lengthMenu: [ 5, 10, 20, 50, 100, 200, 500, 1000, 2000, 5000, 10000 ],
    columnDefs: [
        { targets: 0, width: 150 }
    ]
  });
});
</script>
<style>
a {
  color:#000;
}
</style>

</head>

<body>
<div class="ui container"><h1>data view</h1></div>  
<div class="ui column grid centered">
  <iframe id="nazo" allow="autoplay" width="640" height="360" src="https://embed.nicovideo.jp/watch/sm35676084"></iframe>
</div>
<div class="ui container">
  <table id="data-table" border="1" class="ui celled table">
    <thead>
      <tr style="text-align: right;">
        <th>last_access_time</th>
        <th>page title</th>
        <th>access count</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for row in data %}
      <tr>
        <td>{{ row.1 }}</td>
        <td><a href="{{ row.0 }}">{{ row.2 }}</a></td>
        <td>{{ row.3 }}</td>
        <td><button class="ui button button_test" id="{{ row.4 }}">change</button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script>
jQuery(function($){
  $('.button_test').click(function(){
    $('#nazo').attr('src', 'https://embed.nicovideo.jp/watch/' + $(this).attr('id'))
  });
});
</script>
</body>

  
</html>

